@import "tailwindcss";

@theme {
  --color-bg: var(--color-neutral-900);
  --color-bg-sec: var(--color-neutral-800);
  --color-primary: var(--color-green-400);
  --color-text: var(--color-green-100);
  --font-primary: "Comic Relief", system-ui;
}

body {
  @apply bg-bg text-text font-primary *:selection:bg-primary *:selection:text-bg;
}

.navlink.active {
  @apply bg-bg-sec border-t-primary;
}

.overflow-y-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg-sec) transparent;
}
